@font-face {
    font-family: 'Playfair Display';
    src: local('Playfair Display Regular'), local('PlayfairDisplay-Regular'), url('Playfairdisplayregular.woff2') format('woff2'), url('Playfairdisplayregular.woff') format('woff'), url('Playfairdisplayregular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Playfair Display';
    src: local('Playfair Display Italic'), local('PlayfairDisplay-Italic'), url('Playfairdisplayitalic.woff2') format('woff2'), url('Playfairdisplayitalic.woff') format('woff'), url('Playfairdisplayitalic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
}


  @font-face {
    font-family: 'Proxima Nova';
    src: local('../futura/Proxima Nova Regular'), local('Proxima-Nova-Regular'),
        url('../fonts/ProximaNova-Regular.woff2') format('woff2'),
        url('../fonts/ProximaNova-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
  }
  @font-face {
    font-family: 'Futura PT';
    src: local('../futura/Futura PT Heavy'), local('Futura-PT-Heavy'),
        url('./fonts/FuturaPT-Heavy.woff2') format('woff2'),
        url('../fonts/FuturaPT-Heavy.woff') format('woff');
    font-weight: 900;
  }
